<article>
  <div class="header-wrapper">
    <div>
      <div class="eyebrow">2019 Project Showcase</div>
      <h1 class="has-eyebrow">Kauri (Work In Progress)</h1>
    </div>
    <div>
      <a
        href="https://github.com/sean0x42/kauri"
        class="button"
        target="_blank"
      >
        <span>Visit Kauri GitHub</span>
        {% include icons/arrow_right_alt.html %}
      </a>
    </div>
  </div>

  <p>Kauri (working title) is a desktop document processor, which aims to break
  conventions that have formed in the industry, and provide a re-imagined
  document editing experience. It's currently still being actively designed and
  developed.</p>

  <blockquote>
    Note: everything you see here is still under active development.
  </blockquote>

  <div class="image-slider">
    <img
      src="{{ site.path }}/static/images/kauri/design-mode.png"
      alt="Design Mode"
    />
    <img
      src="{{ site.path }}/static/images/kauri/content-mode.png"
      alt="Content Mode"
    />
    <img
      src="{{ site.path }}/static/images/kauri/feedback.png"
      alt="Feedback Modal"
    />
  </div>
</article>
