<article>
  <div class="header-wrapper">
    <div>
      <div class="eyebrow">2019/2020 Project Showcase</div>
      <h1 class="has-eyebrow">Koi Editor</h1>
    </div>
    <div>
      <a
        href="https://kdf.now.sh/"
        class="button"
        target="_blank"
      >
        <span>Visit KDF Specification</span>
        {% include icons/arrow_right_alt.html %}
      </a>
    </div>
  </div>

  <p>
    Koi was a desktop document editor, that aimed to provide a more elegant,
    intuitive editing experience. It was ultimately suspended due to scope
    issues and growing complexity, but it's definitely a project I'd like to
    revisit some day.
  </p>
  
  <p>
    I managed to design the entire interface, and a custom document format
    called KDF, based on JSON instead of XML.
  </p>

  <div class="image-slider">
    <img
      src="{{ site.path }}/static/images/kauri/design-mode.png"
      alt="Design Mode"
    />
    <img
      src="{{ site.path }}/static/images/kauri/content-mode.png"
      alt="Content Mode"
    />
    <img
      src="{{ site.path }}/static/images/kauri/feedback.png"
      alt="Feedback Modal"
    />
  </div>
</article>
