<article>
  <div class="eyebrow">2017 Project Showcase</div>
  <h1 class="has-eyebrow">Luke Jamie Apparel</h1>

  <p>Luke Jamie Apparel was a high-end British men's apparel store. The project
  was started by a friend of mine, who wanted release designer clothes with a
  royal theme. The project was eventually cancelled.</p>

  <div class="image-slider">
    <img
      src="{{ site.path }}/static/images/luke-jamie/register.png"
      alt="Account Registration Mobile"
    />
    <img
      src="{{ site.path }}/static/images/luke-jamie/products.png"
      alt="Desktop Jumper"
    />
    <img
      src="{{ site.path }}/static/images/luke-jamie/admin.png"
      alt="Admin Panel on Desktop"
    />
    <img
      src="{{ site.path }}/static/images/luke-jamie/admin-mobile.png"
      alt="Admin Panel Navigation on Mobile"
    />
    <img
      src="{{ site.path }}/static/images/luke-jamie/jumper.png"
      alt="Jumper"
    />
  </div>
</article>
