<div class="header">
  <div class="wrapper">
    <a
      href="{% link index.html %}"
      title="Home"
      class="header__name"
    >
      Sean Bailey
    </a>

    <nav class="navigation">
      <ul>
        <li><a href="{% link articles.html %}">Articles</a></li>

        <li>
          <a href="{% link portfolio.html %}" title="Portfolio">
            <span>Portfolio</span>
          </a>
        </li>

        <li><a href="{% link about.md %}" title="About me">About me</a></li>
      </ul>
    </nav>

    {% include social.html %}
  </div>
</div>
