<ul class="social">
  <li>
    <a
      href="https://github.com/sean0x42"
      title="github.com/sean0x42"
      class="social__icon"
      target="_blank"
    >
      {% include icons/github.html %}
      <span>GitHub</span>
    </a>
  </li>

  <li>
    <a
      href="https://twitter.com/sean0x42"
      title="twitter.com/sean0x42"
      class="social__icon"
      target="_blank"
    >
      {% include icons/twitter.html %}
      <span>Twitter</span>
    </a>
  </li>

  <li>
    <a
      href="https://www.linkedin.com/in/sean0x42/"
      title="linkedin.com/in/sean0x42"
      class="social__icon"
      target="_blank"
    >
      {% include icons/linkedin.html %}
      <span>LinkedIn</span>
    </a>
  </li>
</ul>
