.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5rem;
  margin-top: 1.5rem;

  .button,
  .button-secondary,
  .button-tertiary {
    margin: 0.5rem;
  }
}

.button,
.button-secondary,
.button-tertiary {
  display: flex;
  align-items: center;
  font-size: $font-size * 0.88;
  font-weight: 500;
  line-height: 1.0;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  padding: $font-size ($font-size * 1.5);
  @include no-highlight;

  i.material-icons {
    font-size: 22px;
    font-weight: normal;
    margin: -3px 0.75rem;

    // This leaves the icon with a similar amount of padding as compared to bare text
    &:first-child {
      margin-left: -8px;
    }

    &:last-child {
      margin-right: -8px;
    }
  }

  // For buttons that should fill the width of their container
  &.wide {
    justify-content: center;
    width: 100%;
  }

  &:hover {
    // Counter-act any :hover underlining.
    text-decoration: none;
  }
}

.button {
  color: $primary-inverted;
  background: linear-gradient(45deg, $primary, adjust-hue($primary, 6deg));
  transition: transform 300ms;
  transform: translateY(0px);

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.button-secondary {
  position: relative;
  color: darken($primary, 3%);
  background: white;
  border: 2px solid $border;
  padding: ($font-size - 1px) ($font-size * 1.5 - 1px);

  i.material-icons {
    color: lighten($primary, 6%);
  }
}

.button-tertiary {
  color: $primary;
}