.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem 0 0;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $blue-text;
        background: linear-gradient(90deg, $blue, $blue-grad);
        font-size: 14px;
        font-weight: 500;
        border-radius: 3px;
        padding: 14px 19px;
        text-decoration: none;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer;
        margin: 0 0.5rem 1rem;
        margin-bottom: 1rem;

        i {
            font-size: 20px;
            margin-right: 0.75rem;
        }

        &.secondary {
            position: relative;
            color: darken($blue, 10%);
            background: white;
            border-left: 3px solid $blue;
            border-right: 3px solid $blue-grad;
            border-radius: 3px;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 3px;
                background: linear-gradient(90deg, $blue, $blue-grad);
            }

            &:before { top:    0; }
            &:after  { bottom: 0; }
        }
    }
}

@media (min-width: 550px) {
    .buttons {
        margin: 2rem 0 0;

        .button {
            font-size: 15px;
            padding: 15px 22px;

            i {
                font-size: 22px;
            }
        }
    }
}