$dimensions: 28px;
$color: $blue;

.check-circle {
    width: $dimensions * 0.85;
    height: $dimensions * 0.85;
    margin-right: 0.75rem;

    circle {
        fill: none;
        stroke: $color;
        stroke-width: 25;
        stroke-miterlimit: 10;
    }

    path {
        fill: $color;
    }
}

@media (min-width: 550px) {
    .check-circle {
        width: $dimensions;
        height: $dimensions;
        margin-right: 1rem;
    }
}