.tags {
    margin: 1.5rem 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.65;
        padding: 1px 6px;
        margin: 3px;
        border-radius: 2px;
        color: $blue-text;
        background: linear-gradient(90deg, $blue, $blue-grad);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-transform: lowercase;
    }

    a {
        color: $blue-text;
        text-decoration: none;
    }
}

@media (min-width: 550px) {
    .tags {
        margin: 2rem 0;

        li {
            font-size: 13px;
            padding: 3px 9px;
        }
    }
}