.wrapper {
  width: 100%;
  max-width: 58ch;
  padding: 0 1rem;
  margin: 2rem auto;

  &#comet ::selection,
  &#comet .tags li {
    background: $comet;
    color: $comet-inverted;
  }

  &#comet a { 
    color: $comet;
  }

  &#river-rats ::selection,
  &#river-rats .tags li {
    background: $river-rats;
    color: $river-rats-inverted;
  }

  &#river-rats a {
    color: $river-rats;
  }

  &#luke-jamie ::selection,
  &#luke-jamie .tags li {
    background: $luke-jamie;
    color: $luke-jamie-inverted;
  }

  &#luke-jamie a {
    color: $luke-jamie;
  }

}