h1, h2, h3, h4, h5, h6 {
  color: $text-bold;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

h3 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
}