strong {
  font-weight: normal;
  color: $primary-inverted;
  background: linear-gradient(45deg, $primary, adjust-hue($primary, 10deg));
  border-radius: 2px;
  padding: 1px 0;
  
  &:before, 
  &:after { 
    content: "\00a0"; 
  }
}