$primary: hsl(180, 62%, 47%);
$primary-inverted: hsl(180, 15%, 97%);

$text: hsl(hue($primary), 15%, 35%);
$text-bold: hsl(hue($primary), 15%, 22%);

$border: hsl(hue($primary), 20%, 84%);

$comet: hsl(15, 80%, 61%);
$comet-inverted: hsl(15, 10%, 97%);

$river-rats: #824c9a;
$river-rats-inverted: #fdfcfd;

$luke-jamie: hsl(40, 73%, 54%);
$luke-jamie-inverted: hsl(40, 10%, 100%);

$ncmg: hsl(145, 63%, 47%);
$ncmg-inverted: hsl(145, 15%, 100%);