$colour-transparent: rgba(0, 0, 0, 0);
$white: #ffffff;

$primary-light: hsl(358.4, 88.3%, 66.5%);
$primary-light-inverted: hsl(358.4, 15%, 98%);
$primary: hsl(358.2, 88.3%, 63.1%);
$primary-inverted: hsl(358.2, 15%, 98%);
$primary-dark: hsl(358, 69.6%, 57.5%);

$secondary: #623cea;
