$colour-transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
$black: #000000;

$primary-dark: hsl(358, 69.6%, 57.5%);
$primary: hsl(358.2, 88.3%, 63.1%);
$primary-inverted: hsl(358.2, 15%, 98%);
$primary-light: hsl(358.4, 88.3%, 66.5%);
$primary-light-inverted: hsl(358.4, 15%, 98%);

$secondary-dark: hsl(270, 2.4%, 16.1%);
$secondary: hsl(270, 2.2%, 17.6%);
$secondary-inverted: hsl(270, 2%, 96%);

$grey-90: #151a1e;
$grey-80: #232c31;
$grey-70: #313d45;
$grey-60: #3f4e58;
$grey-50: #4c5f6b;
$grey-40: #5c6d78;
$grey-30: #7c8a93;
$grey-20: #9da7ae;
$grey-10: #bdc4c9;
