.eyebrow {
  background: $type-colour;
  color: $black;
  display: inline-block;
  font-size: 95%;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 4rem 0 0;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "\00a0";
  }
}

@media (min-width: 850px) {
  .eyebrow {
    margin: 6rem 0 0;
  }
}
