.header {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 0 2rem;
  position: relative;
  max-width: 120ch;
  width: 100%;

  .wrapper {
    align-items: center;
    display: flex;
  }
}

.name {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0;
}

.name__triangle {
  display: none;
}

.name__inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  position: relative;
  z-index: 1;

  h1 {
    color: $white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    color: $grey-20;
    font-size: 19px;
    font-weight: 500;
    margin: 0.5rem 0;

    &::after {
      animation-direction: alternate;
      animation-duration: 600ms;
      animation-iteration-count: infinite;
      animation-name: pulse;
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
      content: "_";
    }
  }

  &::before {
    background: transparentize($grey-50, 0.75);
    bottom: 1em;
    content: "";
    height: 3em;
    left: 1.5em;
    pointer-events: none;
    position: absolute;
    right: -1.5em;
    z-index: -1;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (min-width: 560px) {
  .name {
    align-items: flex-start;
    flex-direction: row;
  }

  .name__inner h1 {
    font-size: 46px;
  }

  .name__triangle {
    display: block;
    height: 82px;
    margin-bottom: 0;
    margin-right: 2rem;
    opacity: 1;
    stroke: $grey-10;
    width: 82px;
  }
}

@media (min-width: 850px) {
  .header {
    grid-gap: 1rem;
    grid-template-columns: 1fr 250px;
  }

  .name {
    justify-content: unset;
    margin: 0;
  }
}

@media (min-width: 1070px) {
  .header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}
