.hero {
  background: $grey-90;
  min-height: 100vh;
  padding: 2vw;
  text-align: center;
  width: 100vw;

  h1 {
    font-size: 20vh;
    font-weight: 800;
    margin: 0;
  }

  .wrapper {
    height: 100%;
    margin: 0;
    max-width: none;
    padding: 2vh;
    width: 100%;
  }
}
