.hero {
  height: 100vh;
  padding: 2vw;
  text-align: center;
  width: 100vw;

  h1 {
    font-size: 20vh;
    margin: 0;
  }

  .wrapper {
    align-items: center;
    border: 8px solid $primary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    max-width: none;
    padding: 2vh;
    width: 100%;
  }
}
