.navigation ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0 3rem;
  padding: 0;

  a {
    color: $type-colour;
    font-weight: 500;
    padding: 0.75rem;
    position: relative;
    text-decoration: none;
    z-index: 2;
  }

  svg {
    fill: $type-colour-light;
  }
}
