<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120954433-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-120954433-1');
  </script>

  {%- assign content_title = page.title %}
  <title>{{ content_title }}</title>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, maximum-scale=1" />
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.url }}/static/images/open-graph.png" />
  <meta property="og:title" content="{{ content_title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="twitter:site" content="@{{ site.twitter_username }}" />

  <link rel="canonical" href="{{ site.url }}" />
  <link rel="stylesheet" href="/static/stylesheets/modern-normalize.min.css" />
  <link rel="stylesheet" href="/static/stylesheets/application.css" />
</head>

<body>
  {{ content}}
</body>
</html>
