---
layout: default
---

{% include header.html %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="article">
  <header class="article__header">
    <h1 class="article__title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>

    <div class="article__meta">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: site.date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </div>
  </header>

  <div class="article__content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
