---
layout: default
---

{% include header.html %}

<div class="wrapper">
  <article class="article">
    <header>
      <div class="article__category">{{ page.categories[0] }}</div>
      <h1 class="article__title">{{ page.title | escape }}</h1>
      <p class="article__subtitle">{{ page.subtitle | escape }}</p>

      <div class="article__meta">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: site.date_format }}
        </time>
      </div>
    </header>

    <div class="article__content">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>

