$orange:      hsl(15, 93%, 61%);
$orange-grad: hsl(30, 93%, 61%);
$orange-text: hsl(15, 10%, 97%);

$gold:      hsl(40, 73%, 54%);
$gold-grad: hsl(34, 73%, 54%);
$gold-text: hsl(40, 10%, 97%);

$blue:      hsl(180, 62%, 47%);
$blue-grad: hsl(165, 62%, 47%);
$blue-text: hsl(200, 10%, 97%);