$orange: hsl(15, 93%, 61%);
$purple: hsl(282, 44%, 47%);

$blue:      hsl(180, 62%, 47%);
$blue-grad: hsl(160, 62%, 47%);
$blue-text: hsl(200, 10%, 97%);

html {
    box-sizing: border-box;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: hsl(0, 0%, 28%);
    line-height: 1.7;
    overflow-x: hidden;
}

strong {
    font-weight: normal;
    color: $blue-text;
    background: $blue-grad;
    border-radius: 2px;
    padding: 1px 0;
    // box-shadow: 2px 2px hsl(0, 0%, 88%);
    &:before, &:after { content: "\00a0"; }
}

li {
    margin-bottom: 0.25rem;
}

.wrapper {
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.hero {
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: center;

    .wrapper {
        padding: 2rem 2rem;
    
        h1 {
            font-size: 55px;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.0;
            vertical-align: middle;
        }

        p {
            max-width: 500px;
            margin: 2.75rem auto 3rem;
            font-size: 16px;
            line-height: 1.8;
        }
    }
}

.employment-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    text-align: left;
    margin: 0;
    line-height: 1.0;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0 0;

    .button {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $blue-text;
        background: linear-gradient(90deg, $blue, $blue-grad);
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        padding: 14px 22px;
        text-decoration: none;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &:last-child { margin-right: 0; }

        i {
            font-size: 22px;
            margin-right: 0.6rem;
        }

        &.secondary {
            position: relative;
            color: $blue-grad;
            background: none;
            border-left: 3px solid $blue;
            border-right: 3px solid $blue-grad;
            border-radius: 3px;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 3px;
                background: linear-gradient(90deg, $blue, $blue-grad);
            }

            &:before { top:    0; }
            &:after  { bottom: 0; }
        }
    }
}

.list-columns {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
}

.icon-list {
    list-style-type: none;
    padding: 0 0.75rem;
    margin: 0;
    width: 50%;

    li {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
    }

    i {
        color: $blue;
        margin-right: 0.5rem;
    }
}