@import url("https://rsms.me/inter/inter-ui.css");
::-moz-selection {
  color: #f6f8f8;
  background: #2ec2c2;
}
::selection {
  color: #f6f8f8;
  background: #2ec2c2;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Inter UI", sans-serif;
  font-size: 18px;
  color: #4c6767;
}

body {
  margin: 0;
  line-height: 1.75;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #304141;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 40.5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0 0 3rem;
}

h2 {
  font-size: 18px;
}

strong {
  font-weight: normal;
  color: #f6f8f8;
  background: linear-gradient(45deg, #2ec2c2, #2ea9c2);
  border-radius: 2px;
  padding: 1px 0;
}

strong:before, strong:after {
  content: "\00a0";
}

a {
  cursor: pointer;
  color: #2ec2c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  max-width: 58ch;
  padding: 0 1rem;
  margin: 2rem auto;
}

.wrapper#comet ::-moz-selection,
.wrapper#comet .tags li {
  background: #eb744c;
  color: #f8f7f7;
}

.wrapper#comet ::selection,
.wrapper#comet .tags li {
  background: #eb744c;
  color: #f8f7f7;
}

.wrapper#comet a {
  color: #eb744c;
}

.wrapper#river-rats ::-moz-selection,
.wrapper#river-rats .tags li {
  background: #824c9a;
  color: #fdfcfd;
}

.wrapper#river-rats ::selection,
.wrapper#river-rats .tags li {
  background: #824c9a;
  color: #fdfcfd;
}

.wrapper#river-rats a {
  color: #824c9a;
}

.wrapper#luke-jamie ::-moz-selection,
.wrapper#luke-jamie .tags li {
  background: #dfa634;
  color: white;
}

.wrapper#luke-jamie ::selection,
.wrapper#luke-jamie .tags li {
  background: #dfa634;
  color: white;
}

.wrapper#luke-jamie a {
  color: #dfa634;
}

.wrapper#ncmg ::-moz-selection,
.wrapper#ncmg .tags li {
  background: #2cc36b;
  color: white;
}

.wrapper#ncmg ::selection,
.wrapper#ncmg .tags li {
  background: #2cc36b;
  color: white;
}

.wrapper#ncmg a {
  color: #2cc36b;
}

.hero {
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.hero .wrapper {
  padding: 2rem 0;
  margin: 0 auto;
}

.hero .wrapper h1 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.3;
  vertical-align: middle;
}

.hero .wrapper p {
  margin: 2rem auto;
}

.hero .wrapper .buttons {
  justify-content: center;
}

@media (min-width: 550px) {
  .hero .wrapper h1 {
    font-size: 3rem;
    line-height: 1.0;
  }
  .hero .wrapper p {
    margin: 3rem auto;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5rem;
  margin-top: 1.5rem;
}

.buttons .button,
.buttons .button-secondary,
.buttons .button-tertiary {
  margin: 0.5rem;
}

.button,
.button-secondary,
.button-tertiary {
  display: flex;
  align-items: center;
  font-size: 15.84px;
  font-weight: 500;
  line-height: 1.0;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  padding: 18px 27px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button i.material-icons,
.button-secondary i.material-icons,
.button-tertiary i.material-icons {
  font-size: 22px;
  font-weight: normal;
  margin: -3px 0.75rem;
}

.button i.material-icons:first-child,
.button-secondary i.material-icons:first-child,
.button-tertiary i.material-icons:first-child {
  margin-left: -8px;
}

.button i.material-icons:last-child,
.button-secondary i.material-icons:last-child,
.button-tertiary i.material-icons:last-child {
  margin-right: -8px;
}

.button.wide,
.button-secondary.wide,
.button-tertiary.wide {
  justify-content: center;
  width: 100%;
}

.button:hover,
.button-secondary:hover,
.button-tertiary:hover {
  text-decoration: none;
}

.button {
  color: #f6f8f8;
  background: linear-gradient(45deg, #2ec2c2, #2eb3c2);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-secondary {
  position: relative;
  color: #2bb6b6;
  background: white;
  border: 2px solid #cedede;
  padding: 16px 25px;
}

.button-secondary i.material-icons {
  color: #3dd1d1;
}

.button-tertiary {
  color: #2ec2c2;
}

#particles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.employment-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  text-align: right;
  margin: 0;
  line-height: 1.0;
}

.tags {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tags li {
  font-size: 14.4px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.65;
  padding: 3px 9px;
  margin: 3px;
  border-radius: 2px;
  color: #f6f8f8;
  background: #2ec2c2;
  text-transform: lowercase;
}

.tags a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 550px) {
  .tags {
    margin: 3rem 0;
  }
}

.portfolio {
  margin: 4rem 0;
}

.portfolio .wrapper {
  margin: 15rem auto 5rem;
}

.portfolio .images {
  margin: 1rem auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 1000px;
}

.portfolio .images img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.portfolio .images .mobile-trio img {
  display: block;
  max-width: 300px;
  margin: 2rem auto;
}

.portfolio .images .plyr {
  margin: 2rem 0 0;
}

@media (min-width: 700px) {
  .portfolio .images {
    margin: 3rem auto;
  }
  .portfolio .images .mobile-trio {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .images .mobile-trio img {
    margin: 0;
    max-width: unset;
  }
  .portfolio .images img {
    margin: 2rem 0;
  }
}

@media (min-width: 800px) {
  .portfolio .images .mobile-trio {
    grid-gap: 2rem;
  }
}

.footer {
  margin: 6rem auto;
}

.footer .buttons {
  justify-content: center;
}

.copyright {
  text-align: center;
  color: #6c9393;
  margin: 2rem 0;
}
